.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;

  align-items: center;
  position: relative;
  padding: 0 2px;
  display: flex;
  height: 12px;
  width: 80px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;

  background: #fff;
  height: 8px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}
